:root {
    --main-cinza: #CCCCCC;
    --main-branco: #FFFFFF;
    --main-preto: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../img/fundo.jpg);
    background-position: center center;
    background-size: cover cover;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body,
input {
    font-family: 'Teko', sans-serif;
}

main {
    width: 90vw;
    height: 90vh;
    margin: 5em;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.robotron {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robo {
    width: 600px;
}

.titulo {
    font-weight: 500;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.6)
}

.box {
    background: rgba(0, 0, 0, 0.6);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    border-left: 5px solid var(--main-cinza);
    height: 80vh;
    width: 50vw;
    padding: 2em;
}

/****************************** Equipamentos *****/

.peca {
    padding: 1em 0;
}

.peca-titulo {
    color: var(--main-branco);
    text-transform: uppercase;
    font-size: 2.5em;
}

.controle {
    background: var(--main-preto);
    border-radius: 15px;
    float: right;
    display: inline-flex;
    padding: 5px;
    align-items: center;
    align-self: flex-end;
}

.controle-contador {
    width: 40px;
    height: 35px;
    background: none;
    border: 0;
    margin: 0 1rem;
    color: var(--main-branco);
    text-align: center;
    font-size: 2.5em;
    display: inline-flex;
    align-items: center;
    padding-top: 8px;
}

.controle-ajuste {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    color: var(--main-cinza);
    font-size: 4em;
    background: var(--main-preto);
    text-align: center;
    border: 3px solid var(--main-cinza);
    cursor: pointer;
}

.linha {
    border-color: var(--main-cinza);
}

.producao {
    margin: 5px 15px 5px 15px;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0.2em 1em;
    float: right;
    border: 2px solid var(--main-branco);
    background: var(--main-branco);
    clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    cursor: pointer;
}

.producao:hover {
    background: var(--main-preto);
    color: var(--main-branco)
}



/****************************** Estatísticas *****/
.estatisticas {
    padding: 1em;
}

.estatistica {
    color: var(--main-branco);
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    justify-content: center;
    gap: 2em;
}

.estatistica-titulo {
    color: var(--main-branco);
    text-transform: uppercase;
    font-size: 3em;
}

.estatistica-valor {
    font-size: 3em;
    border: 5px dotted var(--main-branco);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.estatistica-valor p{
    position: absolute;
    left: 22px;
    top: -33px;
}

#robo-azul:hover {
    background-color: #449DD1;
    color: var(--main-branco)
}

@media (max-width: 1500px) {
    main {
        width: 90vw;
        height: 100vh;
        margin: 2em;
        flex-direction:column;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }

    .box {
        height: 40vh;
        width: 30vw;
        padding: 2em;
        flex-grow: 1;
    }
    
    .robo {
        width: 400px;
    }

    .titulo {
        font-size: 40px;
    }

    .estatistica-valor {
        font-size: 2em;
        width: 50px;
        height: 50px;
        position: relative;
    }

    .estatistica-valor p{
        position: absolute;
        left: 5px;
        top: -33px;
    }

    .producao {
        font-size: 1.5em;
    }

    .controle-contador {
        width: 30px;
        height: 25px;
        font-size: 2em;
    }

    .controle-ajuste {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 2em;
        border: 2px solid var(--main-cinza);
    }

    .peca-titulo {
        font-size: 1.9em;
    }

    .equipamentos{
        overflow: scroll;
    }
}

@media (max-width: 1000px) {
    main {
        width: 95vw;
        height: 100vh;
        margin: 3em 1em;
        flex-direction: row;
        gap: 10px;
    }

    .box {
        height: 55vh;
        padding: 1em;
        flex-grow: 1;
    }
    
    .robo {
        width: 450px;
    }

    .titulo {
        font-size: 30px;
    }

    .estatistica-valor {
        font-size: 3em;
        border: none;
        position: absolute
    }

    .estatistica-valor p{
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .estatistica-titulo {
        font-size: 2.5em;
    }

    .estatistica {
        height: 100px;
        width: auto;
        justify-content: center;
    }

    .estatisticas {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .equipamentos{
        overflow: scroll;
    }
    
}

@media (max-width: 730px) {
    .estatistica-titulo {
        font-size: 2.3em;
    }
    .estatistica-valor {
        font-size: 2.3em;
    }

    .robo {
        width: 250px;
    }

    main {
        margin: 3em 0.5em;
        flex-direction: row;
        gap: 5px;
    }
}


    @media (max-width: 400px) {
        .producao {
            margin: 5px;
            font-size: 1em;
            float: none;
            border: 1px solid var(--main-branco);
            padding: 0.7em 0.5em;
        }

        .controle-contador {
            width: 20px;
            height: 15px;
            font-size: 1em;
            margin: 0 10px;
        }
    
        .controle-ajuste {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 1.5em;
            border: 1px solid var(--main-cinza);
        }
    
        .peca-titulo {
            font-size: 1.5em;
        }

        .peca{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .controle {
            float: none;
            padding: 5px;
            align-self: center;
        }
    
    }
