:root {
    --main-cinza: #CCCCCC;
    --main-branco: #FFFFFF;
    --main-preto: #000000;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../img/fundo.jpg);
    background-position: center center;
    background-size: cover cover;
    padding: 0;
    margin: 0;
    font-weight: 300;
}

body,
input {
    font-family: 'Teko', sans-serif;
}

main {
    width: 95vw;
    height: 90vh;
    margin: 5em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.robotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.robo {
    width: 30vw;
}

.titulo {
    font-weight: 500;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.6)
}

.box {
    background: rgba(0, 0, 0, 0.6);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0 calc(100% - 30px), 0 30px, 30px 0);
    border-left: 10px solid var(--main-cinza);
    width: 30vw;
    height: 70vh;
    overflow-y: scroll;
}

/****************************** Equipamentos *****/

.montador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em;
}

.peca {
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.peca-titulo {
    color: var(--main-branco);
    text-transform: uppercase;
    font-size: 2.5em;
}

.controle {
    background: var(--main-preto);
    border-radius: 10px;
    display: inline-flex;
    padding: 5px;
    align-items: center;
    align-self: auto;
    gap: 5px;
}

.controle-contador {
    width: 40px;
    height: 35px;
    background: none;
    border: 0;
    color: #449DD1;
    text-align: center;
    font-size: 2.5em;
    display: inline-flex;
    align-items: center;
    padding-top: 8px;
}

.controle-ajuste {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 44px;
    border-radius: 50%;
    color: var(--main-cinza);
    font-size: 3em;
    background: var(--main-preto);
    text-align: center;
    border: 3px solid var(--main-cinza);
    cursor: pointer;
}

.linha {
    border-color: var(--main-cinza);
}

.producao {
    margin: 10px 15px;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border: 2px solid var(--main-preto);
    clip-path: polygon(100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 0);
    cursor: pointer;
    width: 20vw;
    white-space: wrap;

}

.producao:hover {
    background: var(--main-preto);
    color: var(--main-branco)
}



/****************************** Estatísticas *****/

.estatisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.estatistica {
    color: var(--main-branco);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.estatistica-titulo {
    color: var(--main-branco);
    text-transform: uppercase;
    font-size: 3rem;
}

.estatistica-valor {
    font-size: 3em;
    border: 5px dotted var(--main-branco);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}

.estatistica-valor p {
    position: absolute;
    left: 22px;
    top: -33px;
}

#robo-azul:hover {
    background-color: #449DD1;
    color: var(--main-branco)
}

@media (max-width: 1075px) {
    main {
        width: 100vw;
        height: 100vh;
        margin: 5em auto;
        gap: 5px;
        display: grid;
        padding: 0 30px;
        grid-template-areas:
            "logo logo"
            "nav content";
    }

    .robotron {
        grid-area: logo;
    }

    .estatisticas {
        grid-area: nav;
    }

    .equipamentos {
        grid-area: content;
    }

    .robotron {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .robo {
        width: 30vw;
    }

    .titulo {
        font-size: 4rem;
    }

    .peca-titulo {
        font-size: 2em;
    }

    .controle {
        padding: 2px 4px;
        gap: 1px;
    }

    .controle-contador {
        width: 40px;
        height: 25px;
        font-size: 2em;
        padding-top: 5px;
    }
    
    .controle-ajuste {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 0;
        font-size: 2em;
        border: 2px solid var(--main-cinza);
    }

    .estatistica-titulo {
        font-size: 2rem;
        margin: 10px 0;
    }
    
    .estatistica-valor {
        font-size: 2em;
        border: 3px solid var(--main-branco);
        width: 60px;
        height: 50px;
        border-radius: 0%;
    }

    .estatistica-valor p {
        left: 12px;
        top: -32px;
    }

    .estatistica {
        flex-direction: column;
        gap: 0em;
    }

    .estatisticas {
        justify-content: start;
    }

.producao {
    font-size: 1.5em;
    margin: 5px;
    padding: 0;
    clip-path: none;
    width: 30vw;
    white-space: wrap;
}

.box {
    width: 40vw;
    height: 60vh;
}
}

@media (min-width: 440px) {}